
<app-navigation></app-navigation>

<!--source navigation-->
<div class="source-navigation" data-simplebar>
  <div class="title">SELECT A SOURCE</div>
  <input type="text" id="search" placeholder="SEARCH FOR A SOURCE">
  <div *ngFor="let source of sources | async" (click)="setFeed(source)">
    <div *ngIf="(searchString.value).length == 0 || (source.toLowerCase()).includes((this.searchString.value).toLowerCase())">
        <div class="sources active" *ngIf="source == selectedSource ; else notSelected">{{ source }}</div>
        <ng-template #notSelected><div class="sources">{{ source }}</div></ng-template>
    </div>
  </div>
</div>

<!--source articles-->
<div class="source-articles">
  <div class="feeds">

    <div class="feed-source">{{ selectedSource }}</div>

    <div class="article page-navigation">
      <div class="page-switch cursor" (click)="prevPage()">PREVIOUS PAGE</div>
      <div class="page-switch cursor" (click)="nextPage()">NEXT PAGE</div>
      <div class="page-switch-count">DISPLAYING ARTICLES {{ (pg-1) * pgl + 1 }} - {{ displayCount }} / {{ count }}</div>
    </div>

    <div class="article displayed-articles" *ngFor="let article of feed | async">
      <div class="article-title">{{ article.title }}</div>
      <div class="article-description">{{ article.description }}</div>
      <ul class="article-ul">
        <li class="article-pubDate">{{ article.pubDate }}</li>
        <li class="article-link" (click)="openURL(article.link)">OPEN ARTICLE</li>
      </ul>
    </div>

  </div>
</div>
