.source-articles {
    margin-left: 420px; 
    height: calc(100% - 55px); 
    overflow-x: hidden;
    overflow-y: scroll;
}

.source-articles::-webkit-scrollbar {
    background-color: rgb(120, 128, 153);
    width: 10px;
}

.source-articles::-webkit-scrollbar-thumb {
    background-color: rgb(78, 84, 100);
}

.source-navigation {
    float: left;
    position: relative;
    margin: 0;
    padding: 10px;
    height: calc(100% - 75px); 
    width: 400px;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.source-navigation::-webkit-scrollbar {
    background-color: rgb(120, 128, 153);
    width: 10px;
}

.source-navigation::-webkit-scrollbar-thumb {
    background-color: rgb(78, 84, 100);
}

.feeds {
    margin: 50px;
}

.sources {
    cursor: pointer;
    margin: 0;
    background: #E7E7E7;
    padding: 10px;
    padding-left: 15px;
    margin: 15px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.feed-source {
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    background: white;
    padding: 10px 30px;
    border-radius: 10px;  
}

.article {
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    background: white;
    padding: 5px;
    border-radius: 10px;
}

.displayed-articles {
    -webkit-animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -ms-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
    animation: fadein 0.3s;
}

.page-switch  {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    font-weight: 700; 
    font-size: 12px;
}

.page-switch-count {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700; 
    font-size: 12px;   
}

.cursor {
    cursor: pointer;
}

.article-title {
    margin: 20px 20px 0px 20px;
    font-weight: 700; 
    font-size: 25px;
}

.article-description {
    margin: 10px 20px 0px 20px;
    font-weight: 500; 
    
}

.article-pubDate, .article-link {
    display: inline-block;
}

.article-pubDate {
    margin: 10px;
    padding: 10px;
    font-weight: 700;
}

.article-link {
    margin: 10px 20px 20px 20px;
    padding: 10px;
    color: white;
    background: black;
    border-radius: 10px;
    font-weight: 500; 
    font-size: 12px;
    float: right;
    cursor: pointer;
}

.article-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title {
    margin: 10px;
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 20px;
}

input {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    padding: 10px;
    width: 336px;
    border-radius: 10px;
    border: 2px solid #E7E7E7;
    margin-left: 15px;
}

.active {
    background: #FDD42F;
}

.hidden {
    display: none;
}

@keyframes fadein {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
